@font-face {
  font-family: "OptimaNova";
  src: url("./OptimaNovaLTProRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OptimaNova";
  src: url("./OptimaNovaLTProBold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "OptimaNova";
  src: url("./OptimaNovaLTProMedium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
